* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#fold {
    width: 100%;
    height: 46.5rem;
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    align-self: center;
}

header {
    width: 85rem;
    height: 8rem;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 200px;
    margin: 1rem 0 0 4rem;
}

.header-button {
    width: 12.5rem;
    height: 3rem;
    background-color: hsl(0, 0%, 100%);
    color: hsl(192, 100%, 9%);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 hsla(192, 100%, 9%, 0.116);
    margin: 1rem 1rem 0 0;
}

.header-button:hover {
    color: hsl(208, 11%, 55%)
}

#hero {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hero img {
    width: 700px;
    margin-top: 3rem;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
    width: 27rem;
    margin: 9rem 0 2.5rem 2rem;
}

#hero p {
    color: hsl(192, 100%, 9%);
    line-height: 1.8rem;
    width: 32rem;
    margin: 0 4.5rem 2rem 2rem;
}

.hero-button {
    width: 17.5rem;
    height: 3.5rem;
    background-color: hsl(322, 100%, 66%);
    color:hsla(0, 0%, 100%, 0.87);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 5px 0 hsla(322, 100%, 66%, 0.164);
    margin-left: 2rem;
}

.hero-button:hover {
    background-color: hsl(322, 94%, 80%);
}

    button:hover {
    cursor: pointer;
}

.box {
    width: 77rem;
    height: 27.5rem;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px hsla(0, 0%, 0%, 0.045);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: hsl(192, 100%, 9%);
    font-size: 30px;
    font-weight: 600;
}

.box p {
    color: hsl(208, 11%, 55%);
    line-height: 1.7rem;
}

#grow {
    margin-top: 10rem;
}

#grow h3 {
    margin: 0 0 1rem 7rem;
}

#grow p {
    width: 30rem;
    margin-left: 7rem;
}

#grow img {
    width: 26rem;
    height: 21rem;
    margin-right: 2rem;
}

#flow img {
    width: 25rem;
    height: 19rem;
    margin-left: 8rem;
}

#flow h3 {
    margin: 0 2rem 1rem 0
}

#flow p {
    width: 31rem;
    margin-right: 2rem;
}

#users {
    margin-bottom: 21rem
}

#users img {
    width: 25rem;
    height: 20rem;
    margin-right: 2rem;
}

#users h3 {
    margin: 0 0 1rem 7rem;
}

#users p {
    width: 30rem;
    margin-left: 7rem;
}

#cta {
    width: 50rem;
    height: 18rem;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px hsla(0, 0%, 0%, 0.045);
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 435px;
}

h2 {
    font-family: "Poppins", sans-serif;
    color: hsl(192, 100%, 9%);
    font-size: 34px;
    font-weight: 600;
    margin: 4rem 0 2.75rem 0;
}

.cta-button {
    width: 25rem;
    height: 5rem;
    background-color: hsl(322, 100%, 66%);
    color:hsla(0, 0%, 100%, 0.87);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    box-shadow: 0 5px 5px 0 hsla(0, 4%, 5%, 0.164);
}

.cta-button:hover {
    background-color: hsl(322, 94%, 80%);
}

footer {
    width: 100%;
    height: 34rem;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: center;

}

#footer-grid {
    width: 85rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "logo logo logo"
    "content content content"
    "copyright copyright copyright";
}

footer .logo {
    width: 15rem;
    margin: 12rem 60rem 3rem 0;
    grid-area: logo;  
    margin-left: 5rem;
}

footer .content {
    display: flex;
    grid-area: content;
    margin-left: 5rem;
}

footer p {
    color: hsl(0, 0%, 100%);
}

footer a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}


.contact img {
    height: 18px;
    margin-right: 1rem
}

.location img {
    margin: 5px 1.5rem 0 0;
}

.location p {
    margin-bottom: 1.5rem;
}

.phone img {
    margin: 5px 1rem 1rem 0;
}

.email img {
    height: 15px;
    margin: 1rem 1rem 1rem 0
}

.email p {
    margin-top: .5rem;
}

.info {
    display: flex;
}

.lorem {
    width: 21rem;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
}

i {
    color: hsl(0, 0%, 100%);
}

.links-flex {
    display: flex;
    margin-left: 8rem
}


.links {
    display: flex;
    flex-direction: column;
}

.links-left {
    margin-right: 8rem;
}

a {
    margin-bottom: 1rem;
}

.icons {
    margin-left: 8rem;
}

a:hover {
    text-decoration: underline;
}

i {
    width: 3rem;
}

i:hover {
    color: hsl(322, 100%, 66%)
}

.copyright {
    font-size: 13px;
    justify-self: flex-end;
    margin-right: 3.5rem;
    grid-area: copyright;
}


/* ---------------------------------------------------------------------------------------------- */





@media(max-width: 375px) {


    #layout {
        width: 375px;
    }
    
    #fold {
        width: 100%;
        height: 43.5rem;
        background-color: hsl(193, 100%, 96%);
        background-image: url(./images/bg-hero-mobile.svg);
    }
    
    header {
        width: 100%;
        height: 8rem;
        justify-self: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
    }
    
    header img {
        width: 100px;
        margin: 1rem 1rem 0 2rem;
    }
    
    .header-button {
        width: 6rem;
        height: 1.5rem;
        background-color: hsl(0, 0%, 100%);
        color: hsl(192, 100%, 9%);
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 700;
        border: none;
        border-radius: 30px;
        box-shadow: 0 5px 10px 0 hsla(192, 100%, 9%, 0.116);
        margin: 1rem 1rem 0 0;
    }
    
    .header-button:hover {
        color: hsl(208, 11%, 55%)
    }
    
    #hero {
        width: 100%;
        height: 31rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    #hero img {
        width: 300px;
        margin-top: 3rem;
    }
    
    h1 {
        font-size: 25px;
        width: 20rem;
        margin: 1.5rem 0 1.5rem 0;
    }
    
    #hero p {
        font-size: 16px;
        line-height: 1.5rem;
        width: 19rem;
        margin: 0 0 2rem 0;
    }
    
    .hero-button {
        width: 15rem;
        height: 2.5rem;
        font-size: 12px;
        margin-left: 0;
    }
    
    .box {
        width: 21rem;
        height: 30.5rem;
        border-radius: 15px;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    
    h3 {
        font-size: 21px;
    }
    
    .box p {
        font-size: 14px;
        line-height: 1.3rem;
    }
    
    #grow {
        margin-top: 4rem;
        flex-direction: column-reverse;
    }
    
    #grow h3 {
        margin: 0 0 1rem 0;
    }
    
    #grow p {
        width: 16rem;
        margin: 0;
    }
    
    #grow img {
        width: 15rem;
        height: 12rem;
        margin: 3.5rem 0 3rem 0;
    }

    #flow {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #flow img {
        width: 15rem;
        height: 10rem;
        margin: 4.5rem 0;
    }
    
    #flow h3 {
        margin: 0 0 1rem 0;
    }
    
    #flow p {
        width: 16rem;
        margin: 0;
    }
    
    #users {
        flex-direction: column-reverse;
        margin-bottom: 14rem;
    }
    
    #users img {
        width: 16rem;
        height: 11rem;
        margin: 4rem 0;
    }
    
    #users h3 {
        margin: 0 0 1rem 0;
    }
    
    #users p {
        width: 15.1rem;
        margin-left: 0;
    }
    
    #cta {
        width: 22rem;
        height: 11rem;
        border-radius: 15px;
        bottom: 775px;
    }
    
    h2 {
        font-size: 18px;
        text-align: center;
        margin: 2.5rem 0 1.5rem 0;
        width: 25rem;
    }
    
    .cta-button {
        width: 12rem;
        height: 2.5rem;
        font-size: 10px;
    }
    
    footer {
        width: 100%;
        height: 52rem;
        background-color: hsl(192, 100%, 9%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    #footer-grid {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    
    footer .logo {
        width: 10rem;
        margin: 8rem 0 1.5rem 1rem;
    }
    
    footer .content {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    
    footer p {
        color: hsl(0, 0%, 100%);
    }
    
    footer a {
        color: hsl(0, 0%, 100%);
        text-decoration: none;
    }
    
    
    .contact img {
        height: 18px;
        margin: 0 1.2rem 0 1rem;
    }
    
    .location img {
    margin-top: .5rem;
    margin-right: 1.6rem;
    }
    
    .location p {
        width: 16.6rem;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.6rem;
    }
    
    .phone  {
        margin-bottom: 2rem;
    }

    .phone img {
        margin-top: .1rem;
    }

    .email {
        margin-bottom: 3.5rem;
    }
    
    .email img {
        height: 16px;
        margin-top: .1rem;
    }
    
    .email p {
        margin-top: 0;
    }
    
    .info {
        display: flex;
    }

    .info p {
        font-size: 15px;
    }
    
    
    .links-flex {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    
    
    .links {
        display: flex;
        flex-direction: column;
        
    }
    
    
    a {
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 1.2rem;
    }
    
    .icons {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    
    i {
        width: 2.5rem;
    }
    
    
    .copyright {
        font-size: 12px;
        justify-self: center;
        margin: 0 auto 0 auto;
    }
}